<?xml version="1.0" ?>
<launch>
    <!--include file="$(find franka_example_controllers)/launch/joint_position_example_controller.launch" / 
    Dont include this but let it launch from right pc
    -->
    
    <param name="joint_command_topic" value="/joint_position_example_controller/joint_command" />
    <param name="joint_state_topic" value="/franka_state_controller/joint_states_desired" />
    <param name="max_dist_between_supports" value="0.01" />
    <param name="movement_speed" value="0.015" />
    
    <node name="process_manager" pkg="kinematic_robot" type="process_manager.py" />
    <node name="dummy_cv" pkg="kinematic_robot" type="dummy_cv.py" />
    
</launch>


